# Visual Studio cache files
## .vscode
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
/obj/Debug/
# Cache files
*.log
*.cache
*.npm
*.bak

# Binaries
[Dd]ebug/
[Rr]elease/
x64/
bin/
[Bb]inaries/
obj/
[Bb]uild/
[Bb]uilds/
[Bb]uildLogs/
[Bb]uildProcessTemplates/
[Cc]lientBin/
[Ii]pch/
[Nn]ode_modules/
[Oo]bj/
[Pp]ackages/
[Oo]ut/
[Pp]kg/
[Ss]ymbolCache/
[Tt]estResults/
[Tt]estResults/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.csproj.user
*.vcxproj.user
*.psess
*.vsp
*.vspx
*.vssscc
*.scc

# ReSharper files
_resharper*
*.resharper*
*.DotSettings
*.TeamCity

# GhostDoc plugin
~GhostDoc*

# Resharper JSON files
*.rpt
*.JbIndex
*.JbBrowse
*.crf

# Visual Studio profiler files
*.psess
*.vsp
*.vspx

# TFS files
*.vssscc
*.vspscc

# Installshield output folder
[Ee]xpress/

# DocProject files
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Dd]ocProject/
Docs/Help/
DocProject/buildhelp/
DocProject/Output/*

# Click-Once files
publish/
*.application
*.manifest

# InstallShield output folder
[Ee]xpress/
*.InstallLog

# Deployment files
*.deploy
*.pubxml
*.publish.xml

# Compiled website and Web Application artifacts
*.compiled
*.csproj.deploy
*.csproj.user
*.deploy.log
*.metaproj.dll
*.refresh
*.targets
*.xoml.*
*.xaml.*
*.dll.config

# Windows Azure build artifacts
csx
bin
obj
ServiceConfiguration.*

# Files built by Visual Studio
[Bb]uild/
[Dd]ebug*/
[Rr]elease*/
[Dd]lls/
[Oo]bj/
[Pp]kg/
[Ss]ymbols/
*.[Cc]ache
*.ipch
*.pch
*.VC.opendb
*.VC.db
*.sdf
*.suo
*.gpState
*.sln.docstates
*.DocState.suo
*.userosscache
*.vsp
*.vshost.*
*/*.Debug.*
*/*.Release.*
*.dbmdl
*.dbproj.schemaview
*.dbproj.user
*.designer.cs
*.linqtosql.*
*.rdlc
*.rptproj.user
*.tp
*.usermap
*.viw
*.xsc
*.xsd
*.xsd.backup
*.xml.layout
*.xml.user
*.xslt.layout
*.xslt.user
*.webinfo
*.xmta
*.xslt.cache

# Miscellaneous files
[Bb]in/
[Dd]ebug*/
[Rr]elease*/
[Bb]uild/
[Bb]uilds/
[Cc]overage/
[Dd]eployment/
[Ll]