
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create Employee</h2>

@if (TempData.ContainsKey("SavevError"))
{
    <div class="alert alert-danger">
        <div class="d-flex justify-content-start">
            <span class="alert-icon m-r-20 font-size-30">
                <i class="anticon anticon-close-circle"></i>
            </span>
            <div>
                <h5 class="alert-heading">Thao tác thất bại</h5>
                <p>@TempData["SavevError"].</p>
            </div>
        </div>
    </div>
}
<form method="post" enctype="multipart/form-data">
    <div class="page-header no-gutters has-tab">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="media align-items-center m-b-15">
            </div>
            <div class="m-b-15">
                <button class="btn btn-primary">
                    <i class="anticon anticon-save"></i>
                    <span>Thêm thông tin</span>
                </button>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active"
                   data-toggle="tab"
                   href="#product-edit-basic">Basic Info</a>
            </li>

        </ul>
    </div>
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-edit-basic">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productName">Tên nhân viên</label>
                        <input type="text"
                               class="form-control"
                               name="Name"
                               id="productName"
                               placeholder=" Name" />
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productPrice">Địa chỉ</label>
                        <input type="text"
                               class="form-control"
                               id="productPrice"
                               placeholder="Price"
                               name="Address" />
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productPrice">Số điện thoại</label>
                        <input type="text"
                               class="form-control"
                               id="productPrice"
                               placeholder="Phone"
                               name="Phone" />
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productBrand">Email</label>
                        <input type="text"
                               class="form-control"
                               id="productBrand"
                               name="Email"
                               placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productBrand">AccountID</label>
                        <input type="text"
                               class="form-control"
                               id="productBrand"
                               name="AccountID"
                               placeholder="AccountID" />
                    </div>

                    <div class="col-sm-12 mb-2">
                        <p>Hình ảnh:</p>
                        <input name="Avatar" type="file" class="custom-file-input" id="Image" accept="image/*" onchange="previewImage()">
                        <label class="custom-file-label" for="Image">Choose New Avartar</label>
                        <div class="col-sm-12 mb-2">
                            <img id="product-image" src="" style="width: 100%;  max-height: 500px; object-fit: contain" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
<script>
    function previewImage() {
        var fileInput = document.getElementById('Image');
        var img = document.getElementById('product-image');

        if (fileInput.files && fileInput.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                img.src = e.target.result;
            }
            reader.readAsDataURL(fileInput.files[0]);
        }
    }
</script>



