
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Staff/Views/Shared/_StaffLayout.cshtml";
}

<div class="main-content">
    <div class="page-header no-gutters has-tab">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="media align-items-center m-b-15">
                <div class="avatar avatar-image rounded" style="height: 70px; width: 70px">
                    <img src="assets/images/others/thumb-16.jpg" alt="">
                </div>
                <div class="m-l-15">
                    <h4 class="m-b-0">Skinny Men Blazer</h4>
                    <p class="text-muted m-b-0">Code: #5325</p>
                </div>
            </div>
            <div class="m-b-15">
                <button class="btn btn-primary">
                    <i class="anticon anticon-edit"></i>
                    <span>Edit</span>
                </button>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#product-overview">Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#product-images">Product Images</a>
            </li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="tab-content m-t-15">
            <div class="tab-pane fade show active" id="product-overview">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Thông tin tòa nhà</h4>
                        <div class="table-responsive">
                            <table class="product-info-table m-t-20">
                                <tbody>
                                    <tr>
                                        <td>Tên nhà:</td>
                                        <td class="text-dark font-weight-semibold">Quá đã</td>
                                    </tr>
                                    <tr>
                                        <td>Địa chỉ nhà:</td>
                                        <td>chưa biết</td>
                                    </tr>
                                    <tr>
                                        <td>Giá bán:</td>
                                        <td> $9999</td>
                                    </tr>
                                    <tr>
                                        <td>Tên chủ nhà:</td>
                                        <td>Sadboizhaycuoi</td>
                                    </tr>
                                    <tr>
                                        <td>Địa chỉ chủ nhà:</td>
                                        <td>Vãi ò</td>
                                    </tr>
                                    <tr>
                                        <td>Số điện thoại:</td>
                                        <td>099999999</td>
                                    </tr>
                                    <tr>
                                        <td>Email:</td>
                                        <td>Sadboizhaycuoi@gmail.com</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Thông tin khách hàng</h4>
                        <div class="table-responsive">
                            <table class="product-info-table m-t-20">
                                <tbody>
                                    <tr>
                                        <td>Tên khách hàng:</td>
                                        <td>Quãi cả chưởng</td>
                                    </tr>
                                    <tr>
                                        <td>Địa chỉ:</td>
                                        <td>
                                           Không biết
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Số điện thoại:</td>
                                        <td>00000000000</td>
                                    </tr>
                                    <tr>
                                        <td>Email:</td>
                                        <td>vaio@gmail.com</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Product Description</h4>
                    </div>
                    <div class="card-body">
                        <p>Special cloth alert. The key to more success is to have a lot of pillows. Surround yourself with angels, positive energy, beautiful people, beautiful souls, clean heart, angel. They will try to close the door on you, just open it. A major key, never panic. Don’t panic, when it gets crazy and rough, don’t panic, stay calm. They key is to have every key, the key to open every door.</p>
                        <p>The other day the grass was brown, now it’s green because I ain’t give up. Never surrender. Lion! I’m up to something. Always remember in the jungle there’s a lot of they in there, after you overcome they, you will make it to paradise.</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="product-images">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <img class="img-fluid" src="assets/images/others/product-1.jpg" alt="">
                            </div>
                            <div class="col-md-3">
                                <img class="img-fluid" src="assets/images/others/product-2.jpg" alt="">
                            </div>
                            <div class="col-md-3">
                                <img class="img-fluid" src="assets/images/others/product-3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

